extends layout

block sidebar
	include ./includes/sidebar

block main
	each wp in stuffs
		.span4
			.wall-box
				h3.wall-title= wp.title
				a.wp(href="/stuffs/#{wp.id}",title="#{wp.title}")
					img.alignnone(src="/srcfile/#{wp.asset_id}",width="320",height="480",alt="#{wp.title}")
	if (pages > 1)
		.mt-30.clearfix
			.pagination
				ul
					!= createPagination(pages, page)
